.app-summary-tag {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--van-padding-base);
  background: var(--van-background-3);
  border-radius: calc(var(--van-radius-lg) * 2);

  &__value {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--van-padding-base);
    font-size: var(--van-font-size-sm);
    font-weight: bold;
    border-radius: calc(var(--van-radius-lg) * 2);
  }

  &__title {
    margin: 0 var(--van-padding-xs);
    font-size: var(--van-font-size-sm);
  }
}

:global(.van-theme-light) {
  .app-summary-tag {
    background: var(--van-background);
  }
}
