.saved-funds-form {
  &__actions {
    display: flex;
    justify-content: space-between;
    margin-top: var(--van-padding-lg);
    background: transparent;
    border-radius: 0;
  }

  &__navigations {
    display: flex;
    gap: 1rem;
  }
}
