:root {
  --app-width: 100%;
  --header-nav-bar-height: var(--van-nav-bar-height);
  --footer-tabbar-height: var(--van-tabbar-height);
  --dropdown-shadow: var(--van-dropdown-menu-shadow);
  --welcome-shadow: 0 2px 12px rgb(0 0 0 / 30%);
}
