:root {
  --van-toast-default-width: 150px !important;
  --van-nav-bar-height: 55px !important;
}

.van-pull-refresh {
  overflow: visible !important;
}

.van-theme-dark .van-empty {
  opacity: 1 !important;
}

.van-empty__description {
  text-align: center;
}
