$actions-height: 76px;

.welcome-currencies-step {
  height: calc(100% - $actions-height);
  padding: var(--van-padding-base);
  overflow: auto;

  &__actions {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: var(--van-padding-md);
    background: var(--van-background);
    box-shadow: var(--welcome-shadow);
  }
}
