.app-amount-input {
  &__currency {
    display: flex;
    align-items: center;
    cursor: pointer;

    > span {
      color: var(--van-text-color-3);
    }

    > :global(.van-button) {
      height: var(--van-button-mini-height);
      border: none;
    }
  }
}
