.history-list {
  &__item {
    &--income {
      :global(.van-cell__value) {
        color: var(--van-success-color);

        &::before {
          content: "+ ";
        }
      }

      :global(.van-icon) {
        transform: rotate(-45deg);
      }
    }

    &--expense {
      :global(.van-cell__value) {
        color: var(--van-danger-color);

        &::before {
          content: "- ";
        }
      }

      :global(.van-icon) {
        transform: rotate(220deg);
      }
    }

    &--transfer {
      :global(.van-cell__value) {
        color: var(--van-warning-color);
      }
    }
  }
}
