.app-cell-skeleton {
  align-items: center;
  min-height: 44px;

  :global(.van-skeleton) {
    justify-content: flex-end;
    padding: 0;
  }

  &__title {
    margin: var(--van-padding-xl) var(--van-padding-md) var(--van-padding-md);
  }
}
