.app-cell-description {
  padding: 0 var(--van-padding-md) var(--van-padding-md);
  margin: 0;
  font-size: var(--van-font-size-sm);
  font-weight: 400;
  line-height: var(--van-line-height-xs);
  color: var(--van-text-color-3);
}
