@import './reset.scss';
@import './variables';

body {
  background-color: var(--van-background-3);
}

.application {
  margin: auto;
  max-width: 100vw;
  height: 100vh;
  background-color: var(--van-background);
  color: var(--van-text-color);
  overflow: hidden;
}

.cell-title {
  margin: 0;
  padding: 32px 16px 16px;
  color: var(--van-text-color-2);
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
