.app-form-action-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: var(--van-padding-lg);
  background: transparent;
  border-radius: 0;

  &__actions {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    width: 100%;
  }
}
