.expenses-widget {
  position: relative;
  display: flex;
  padding: var(--van-padding-sm);

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
  }

  &__title {
    margin-bottom: var(--van-padding-xs);
    font-size: var(--van-font-size-sm);
    font-weight: 400;
    color: var(--van-text-color-2);
  }

  &__value {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__balance {
    width: 100%;
    font-size: calc(var(--van-font-size-md) * 1.5);
    font-weight: var(--van-font-bold);
    color: var(--van-text-color);
  }

  &__arrow {
    :global(.van-icon) {
      color: var(--van-text-color-2);
    }
  }

  &__icon {
    position: absolute;
    top: var(--van-padding-sm);
    left: var(--van-padding-sm);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    background: var(--van-danger-color);
    border-radius: 5px;

    :global(.van-icon) {
      color: var(--van-white);
      transform: rotate(220deg);
    }
  }
}
