.add-expense-form {
  &__field {
    background: var(--van-background-3);

    &::after {
      border-color: var(--van-background-2);
    }

    &--currencies {
      :global(.van-button) {
        background: var(--van-background-3);
      }
    }
  }

  &__actions {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: var(--van-padding-md);
  }
}

:global(.van-theme-light) {
  .add-income-form {
    &__field {
      background: var(--van-background);

      &::after {
        border-color: var(--van-cell-border-color);
      }
    }
  }
}
