.saved-funds-widget {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: var(--van-padding-xs);
  padding: var(--van-padding-xs) 0;
  background: transparent;
  border-radius: 0;

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 3rem;
    padding: var(--van-padding-base);
    overflow: hidden;
    color: var(--van-gray-2);
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    border-radius: var(--van-radius-lg);

    &:last-child {
      align-items: center;
      justify-content: center;
      color: var(--van-text-color);
      background-color: transparent;
      border: 1px dashed var(--van-gray-5);
    }
  }

  &__title {
    display: flex;
    width: 100%;
    overflow: hidden;
    font-size: var(--van-font-size-xs);
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__value {
    font-size: var(--van-font-size-xs);
  }

  :global(.van-skeleton) {
    padding: 0;
  }
}
