.dashboard-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: var(--van-sticky-z-index);
  max-width: var(--app-width);
  margin: 0 auto;

  &__panel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 55px;
    padding: var(--van-padding-base);
    margin: var(--van-padding-md);
    background: var(--van-background-2);
    border-radius: 100px;
    box-shadow: var(--dropdown-shadow);
  }
}
